@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  border: none;
  background: none;
  font: inherit;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  color: #f4fbfe;
  transition: all 0.5s;
}
.btn:hover {
  outline: none;
  color: #f6d672;
}
.btn:focus {
  outline: none;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
