:root {
  --color-main: #191818;
  --color-secondary: #f2c230;
  --color-neutral: #f4fbfe;
  --color-neutral-darker: #a6abad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100vh;
  color: var(--color-neutral);
  background-color: var(--color-main);
  transition: all 0.5s;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--color-medium);
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 16rem 5rem 16rem;
  height: auto;
}
